<div ng-controller="BlogController as vm">
  <div layout>
    <form ng-submit="vm.createPost()" flex>
        <div>
         <md-input-container >
            <label> Title</label>
            <input required ng-model="vm.npost.title"></input>
          </md-input-container>
          <md-input-container >
            <label>Body </label>
            <textarea ng-model="vm.npost.body"></textarea>
          </md-input-container>
          <md-input-container>
            <label>Tags</label>
             <md-chips
                 ng-model="vm.npost.tags"
                 readonly="vm.npost.readonly"
                 placeholder="Enter a tag"
                 delete-button-label="Remove Tag"
                 delete-hint="Press delete to remove tag"
                 ></md-chips>
          </md-input-container>   <br/>
          <md-input-container layout-padding>
              <label>Pic Url</label>
              <input  ng-model="vm.npost.pic"></input>
          </md-input-container>
              <div layout="row" style="padding-top:50px">
              <md-button type="submit" class="md-raised">Save</md-button>
              <md-button type="button" class="md-raised" ui-sref="Home"> Cancel</md-button>
            </div>
        </div>
      </form>
    </div>
</div>
