	<div layout >
		<div flex-offset="5" flex="40">
			<div ng-controller="CarouselController as vm">
  			<div style="height: 305px">
			    <uib-carousel interval="vm.myInterval" no-wrap="vm.noWrapSlides">
			      <uib-slide ng-repeat="slide in vm.slides" active="slide.active">
			        <img ng-src="{{slide.image}}" style="margin:auto;">
			        <div class="carousel-caption">
			          <h4>{{slide.title}}</h4>
			          <p>{{slide.text}}</p>
			        </div>
			      </uib-slide>
			    </uib-carousel>
		  	</div>
			</div>
		</div>

		<div flex-offset="5" flex>
			<h2>Pearl McPhee</h2>
			<h3>Prefect’s bathroom Trelawney veela squashy armchairs, SPEW: Gamp’s Elemental Law of Transfiguration. Magic Nagini bezoar, Hippogriffs Headless Hunt giant squid petrified. Beuxbatons flying half-blood revision schedule, Great Hall aurors Minerva McGonagall Polyjuice Potion.
				Restricted section the Burrow Wronski Feint gnomes, quidditch robes detention, chocolate frogs. Errol parchment knickerbocker glory A</h3>
		</div>
	</div>

	<div layout="row">
		<div >
			<md-button>View Projects</md-button>
		</div>
	</div>

	<hr>

<div ng-controller= "ProjectController as vm">
			<div ng-repeat="p in vm.projects">
				<md-content class="md-padding">
			    <md-card>
			      <img ng-src="{{p.pic}}" class="md-card-image" alt="{{p.title}}">
			      <md-card-content>
			        <h2 class="md-title">{{p.title}}</h2>
			        <p>
			        	{{p.body}}
			        </p>
							<h3>Tech Used</h3>
								<h4>Front End</h4>
									<ul>
										<li></li>
									</ul>
								<h4>Back End</h4>
									<ul>
										<li></li>
									</ul>
			      </md-card-content>
			      <md-card-actions layout="row" layout-align="end center">
			        <md-button href="{{p.demo}}">View Site</md-button>
			        <md-button href="{{p.github}}">Github</md-button>
			      </md-card-actions>
			    </md-card>
				</md-content>
			</div>
</div>
